{% extends 'main.html'%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-family:Edwardian Script ITC; font-size: 76px;" class="text-primary">A propos de nous</h1>
                <p class="lead" style="font-family: Georgia;">
                    Bienvenue chez Pausedej, votre destination ultime pour tous vos besoins de shopping en ligne et en magasin! Nous sommes une boutique locale qui propose une large gamme de produits pour répondre à tous vos besoins. Que vous cherchiez à acheter en ligne et à vous faire livrer ou à venir directement dans notre boutique pour récupérer vos produits, nous avons tout ce dont vous avez besoin.
                </p>
                <p class="lead" style="font-family: Georgia;">
                    Chez Pausedej, nous sommes passionnés par la qualité et la satisfaction de nos clients. Nous sommes fiers de proposer des produits de haute qualité à des prix compétitifs, tout en offrant un excellent service à la clientèle. Notre équipe est dévouée à fournir une expérience de shopping exceptionnelle, que ce soit en ligne ou en magasin. Nous sommes là pour répondre à toutes vos questions et pour vous aider à trouver les produits qui conviennent le mieux à vos besoins.
                </p>
                <p class="lead" style="font-family: Georgia;">
                    Alors, qu'attendez-vous? Parcourez notre sélection de produits en ligne ou venez nous rendre visite dans notre boutique locale. Nous sommes impatients de vous aider à trouver les produits que vous recherchez chez Pausedej!
                </p>
                <p class="small">Notre emplacement</p>
            </div>
        </div>
    </div>

    <blockquote class="blockquote">
        <p>Parcelles Assainies</p>
        <div id="map"></div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15432.262181908061!2d-17.420378449999998!3d14.7653373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2ssn!4v1710660661389!5m2!1sfr!2ssn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <script>
            function initMap() {
                // Coordonnées de votre adresse
                var latLng = {lat: 14.7653373, lng:  -17.4203784};
            
                // Créez une nouvelle carte centrée sur votre adresse
                var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: latLng
                });
            
                // Ajoutez un marqueur à votre adresse
                var marker = new google.maps.Marker({
                position: latLng,
                map: map,
                title: 'Pause DEJ, villa 45, Parcelles assainie u4, Dakar 99341'
                });
            }
        </script>
        <br> <br>
        <footer class="blockquote-footer">Créé en 2021, Pause DEJ' est reconnu pour sa révolution dans le domaine du Snacking.
            Nous prenons le temps de faire des recettes qui allient les nouveaux goûts et la fraîcheur des produits. Venez nous rendre visite</footer>
    </blockquote>

    <pre class="pre">Texte préformaté avec une police à largeur fixe</pre>
    <mark>Texte mis en évidence avec un surligneur</mark>

    <div class="container mt-5">
        <h1 class="text-center">Offres d'emploi pour étudiants</h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Assistant de service</h5>
                        <p class="card-text">Nous recherchons des étudiants dynamiques pour rejoindre notre équipe en tant qu'assistant de service. Pas d'expérience préalable requise.</p>
                        <a href="{% url 'postuler' %}" class="btn btn-primary">Postuler maintenant</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Agent d'accueil</h5>
                        <p class="card-text">Rejoignez notre équipe en tant qu'agent d'accueil pour accueillir nos clients avec un sourire chaleureux.</p>
                        <a href="{% url 'postuler' %}" class="btn btn-primary">Postuler maintenant</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h1 class="text-center">Services de traiteur pour vos événements spéciaux</h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Traiteur de mariage</h5>
                        <p class="card-text">Offrez à vos invités une expérience culinaire exceptionnelle le jour de votre mariage avec nos services de traiteur professionnels.</p>
                        <a href="{% url 'postuler' %}" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Traiteur de fêtes</h5>
                        <p class="card-text">Laissez-nous prendre en charge la cuisine lors de votre prochaine fête. Nos menus personnalisés impressionneront vos invités.</p>
                        <a href="{% url 'postuler' %}" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="chemin/vers/bootstrap.js"></script>
</body>

	
{% endblock %}