{% extends 'main.html' %}

{% block content %}
<section class="h-100 gradient-form">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-6">
                <div class="card rounded-3 shadow-lg p-4">
                    <h2 class="text-center mb-4" style='font-family:Edwardian Script ITC; font-size: 76px;'>Inscription</h2>
                   
                    <form method="post" action="{% url 'signup' %}" class="form-signup">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_email">Email:</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <label for="id_prenom">Prenom:</label>
                            {{ form.prenom }}
                        </div>
                        <div class="form-group">
                            <label for="id_nom">Nom:</label>
                            {{ form.nom }}
                        </div>
                        <div class="form-group">
                            <label for="id_phone_number">Numero telephone:</label>
                            {{ form.phone_number }}
                        </div>
                        <div class="form-group">
                            <label for="id_password1">Password:</label>
                            {{ form.password1 }}
                        </div>
                        <div class="form-group">
                            <label for="id_password2">Password confirmation:</label>
                            {{ form.password2 }}
                        </div>
                        <div class="form-group">
                            <label for="id_date_joined">Date joined:</label>
                            <input type="text" id="id_date_joined" value="{{ form.date_joined.value }}" readonly>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
                        
                        <a  class='btn btn-warning' href=" {% url 'login_view' %} "> se connecter</a> 
                    </form>   
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    // Obtenir la date actuelle
    var currentDate = new Date();
    // Formatage de la date au format désiré (ex: YYYY-MM-DD HH:MM:SS)
    var formattedDate = currentDate.toISOString().slice(0, 19).replace('T', ' ');
    // Mettre la date formatée dans le champ de date du formulaire
    document.getElementById("id_date_joined").value = formattedDate;
</script>
<style type="text/css">

    .form-signup {
        max-width: 400px;
        margin: 0 auto;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    label {
        display: block;
        font-weight: bold;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    

    
</style>


{% endblock %}
