#logo{
    border: 1px;
}

/* Couleur de fond et couleur de texte du footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .form-control{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: blue;
  }
  .submit-payment{
    margin-left: 15px;
  }
  .card-img-top{
       height: 350px;
       width: 200px;
  }
  .card-body{
    text-align: center;
    height: 400px;
  }
  .container{
    background-color: aqua;
  }
/* styles.css */
.image {
  background-image: url('/static/images/pausedej.jpg');
}

