{% extends 'main.html' %}
{% block content %}
<script src="https://www.paypal.com/sdk/js?client-id=AeoBfIcCVUh3k184hpWYDXeqKNGH25bGtEw2_n6VbyZez4csoc-ZtpXjn4bLnKoYRmqOwT2eYJVNl36D"></script>

<link href="https://doc.paytech.sn/downloads/sdk/paytech_android/paytech-sdk/build/outputs/aar/paytech-sdk-release.aar"
>
    
<br>
<style>
    /* Style pour les champs de formulaire */
    .form-group label {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group select {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        margin-bottom: 1rem;
    }

    .form-group select {
        appearance: none; /* Pour supprimer les styles par défaut des selects */
        padding-right: 2.5rem; /* Pour ajouter un espace pour la flèche du select */
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 5.646a.5.5 0 0 1 .708 0L8 11.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 1.5em 1.5em;
    }

    /* Style pour le bouton du formulaire */
    .form-group button {
        padding: 0.75rem 1.5rem;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    /* Style pour le bouton du formulaire au survol */
    .form-group button:hover {
        background-color: #0056b3;
    }
</style>

<div class="container">
  <h1 style='font-family:Edwardian Script ITC; font-size: 76px;'>Récapitulatif de la Commande</h1>
  <div class="row">
      <!-- Afficher les détails de chaque article du panier -->
      {% for item in cart_items %}
          <div class="col-md-4 mb-4">
              <div class="card">
                  <img src="{{ item.product.image.url }}" class="card-img-top small-img" alt="{{ item.product.name }} " >
                  <div class="card-body">
                      <h5 class="card-title">{{ item.product.title }}</h5>
                      <p class="card-text">Prix: {{ item.product.price }}</p>
                         <!-- Afficher la quantité totale du produit -->
                            <p class="card-text">Quantité totale: {{item.quantity }}</p>
                  
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>
  <div class="row">
      <div class="col-md-12">
          <!-- Afficher le total de la commande -->
          <p class="text-right">Sous-total de la commande: {{ total_amount }}</p>
      </div>
  </div>
  
  <b>Somme en USD: {{ somme_en_usd }}</b>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 style='font-family:Edwardian Script ITC; font-size: 36px;'>Informations Personnelles</h1>

                    <form method="post" action=" {% url 'commande_view' %}" >
                        {% csrf_token %}
                        <div class="form-group">
                          {{ form.as_p }}
                            
                        </div>
                        <!-- Ajoutez d'autres champs ici -->
                        <button type="submit" class="btn btn-primary">Enregistrer la commande</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div id="paypal-button-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

 
<script>
    
    paypal.Buttons({
        createOrder: function(data, actions) {
            // Cette fonction est appelée lorsqu'un paiement est initialisé
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{ somme_en_usd  }}',// Montant du paiement
                        currency_code: 'USD'
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            // Cette fonction est appelée lorsque le paiement est approuvé
            return actions.order.capture().then(function(details) {
                // Affichez un message de confirmation ou redirigez l'utilisateur vers une page de confirmation
                console.log('Transaction complétée avec succès: ', details);
            });
        }
    }).render('#paypal-button-container');
</script>
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Livraison avec Paiement à la Réception</h5>
      <p class="card-text">
        Notre site web propose un service de livraison pratique et sécurisé pour tous vos achats. Avec notre option de paiement à la réception, vous pouvez commander en toute tranquillité, sachant que vous ne payerez que lorsque vous aurez reçu vos articles.
      </p>
    </div>
  </div>
  
{% endblock %}
