{% extends 'main.html' %}

{% block content %}
<head>
  <title>Confirmation de suppression</title>
</head>
<body>
  <h1>Confirmation de suppression</h1>
  <p>Voulez-vous vraiment supprimer ce produit  ?</p>
  <div class="container" style="background-color: rgb(156, 146, 146);">
    <h1> {{produit.title}} </h1>
     <p> Prix:{{produit.price}}</p>
  </div>
  <form method="post">
      {% csrf_token %}
      <input type="submit" value="Confirmer la suppression">
      <a href="{% url 'editer_produit' produit.id  %}">Annuler</a>
  </form>
</body>
{% endblock %}
